# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# Local env files
.env*.local
.env
*.env

# Typescript
*.tsbuildinfo

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Go
bhasha-med-backend/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Logs
logs
*.log

# Testing
coverage/
.nyc_output

# Misc
*.bak
*.tmp
*.temp
